name: Check
on:
  push:
    branches:
      - main
      - 'renovate/**'
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: 'actions/checkout@v6'

      - name: Install uv
        uses: 'astral-sh/setup-uv@v7'
        with:
          version: "0.9.21"
          enable-cache: true

      - name: Setup Python
        uses: 'actions/setup-python@v6'
        with:
          python-version-file: "pyproject.toml"

      - name: Run checks
        run: make check
